<li class="required">
    <dl>
        <dt>
            <label for="login"><%= field.capitalize %></label>
        </dt>
        <dd>
            <%= input(:record, field, {} ) %>
        </dd>
    </dl>
</li>
