<span id="notice" <%= 'style="display:none"' unless flash[:notice] %> >
	<%=flash[:notice] %>
</span>

<span id="error" <%= 'style="display:none"' unless flash[:error] %> >
	<%=flash[:error] %>
</span>
