<li class="form-element" id="record_help_<%=@record.id%>">
<dl>
  <dt>
    <label for="record_help">Type description:</label>
  </dt>
  <dd style="padding-top:6px;max-width:300px;">
    <%= @help_text %>
  </dd>
</dl>
</li>